/*Global settings*/
* { box-sizing: border-box; } 
header, main, nav, footer, figure, figcaption, aside, section, article { display: block; }

body { font-family: Verdana, Arial, sans-serif;
	   background-color: #B8DBED; 
}
/*style for the wrapper*/
#wrapper {  width: 90%;
			margin-left: auto;
			margin-right: auto;
			background-color: #90C7E3;
            background-image:linear-gradient(to bottom, #FFFFFF, #90C7E3);
			border: 1px solid #000033;
		   	box-shadow:3px 3px 3px #333333;	
} 

h2 { font-size: 1.1em; }
 
header { border: 1px solid blue;
		 background-image:url(../images/edge-cloud-solutions-hero.jpg);	
		 line-height: 700%;
		 line-width: 700%;
		 background-size: 100% 140%;
}

h1 { text-align: center;
     /*font-size: 250%;*/
	 font-size: 3em; 
	 padding: 2% 0;
	 margin: 1%;
	 color: white;
	 }
nav { float: left;
      width: 20%;
	  font-size: 120%;
	  padding: 0%;
	  padding-left: 1%;
	  font-weight: bold;
}	  
nav ul { list-style-type: none;  font-size: 1.0em; }
nav a { text-decoration: none; line-height: 150%;}
nav a:link { color: #330000; }
nav a:visited { color: #003300; }
nav a:hover { color: #000000;
}

/* image file on the home page*/
#home_p {  	background-image: url(../images/news-networking-iot-city-istock.png);
			background-repeat: no-repeat;	
            height: 480px;
			background-size: 100% 180%;				
}

/* image file on the research page*/
#research_p {	background-image: url(../images/IoT_how.jpg);
			    background-repeat: no-repeat;	
                height: 385px;
			    background-size: 100% 100%;
}
main {  width: 90%;
        padding-top:1%;
        padding-right: 1%;
		padding-left: 1%;
		padding-bottom: 2%;
        margin-left: 5%;	
		border: 1px;
		background-color: ;
		line-height: 200%;
}

ol, ul {padding-left: 3%; }

#links_p 
  a:link, a:visited {
  background-color: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #F60;
}
/* horizontal nav bar at the end of pages */
.bottomNav {
	list-style-type: none;  
	text-align:center;
	text-decoration: none;
	a:link, a:visited {
    background-color: #F00;
    color: white;
    padding: 15px 25px;
    display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
	
}

footer { text-align: center;
         font-size: 100%;
		 font-style: italic;
		 color: #003300;
		 padding: 2%;
	     clear: both; 
}

{
	margin :0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
}
nav{
	width: 100%;
	height: 60px;
	background-color:#CCC;
	line-height: 25px;
}
nav ul{
	float:top;
	margin-left:20px;
	}

nav ul li{
	list-style-type:none;
	display: inline-block;
	transition: 0.2s all;
}
nav ul li:hover{
	 background-color:#F39d1a;
}
nav ul li a{
	text-decoration: none;
	color:#FFFFFF;
	padding:15px;
}

table, td, th { border: 2px solid black;
        border-collapse: collapse;	
		width:100%;		
		line-height: 100%;
}
table caption { text-align: left;}

td, th { padding: 0.5em;}

td { text-align: right; }

.text { text-align: left; }

tr:nth-of-type(odd) { background: #F5FAFC; }